* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #ff0000;        /* Rojo */
    color: #070707;
    padding: 30px;
}

/* HEADER */
header {
    background: #222;
    padding: 15px;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff0000;             /* Rojo al pasar el cursor */
}

/* SECCIONES */
section {
    background: white;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

article {
    margin-top: 10px;
    padding: 10px;
    background: #ff0000;        /* Rojo */
    border-radius: 5px;
}

/* FOOTER */
footer {
    margin: 20px;
    padding: 15px;
    background: #222;
    color: white;
    border-radius: 10px;
    text-align: center;
}

footer a {
    color: #ff0000;             /* Rojo para enlaces */
    margin: 10px;
    text-decoration: none;
}

footer a:hover {
    color: #cc0000;             /* Rojo más oscuro al pasar el cursor */
}